<div class="container">
<div class="col-sm-4">

  

<h1>About e.claire</h1>



<p>e.claire is a jewelry and accessories brand created in New Orleans.  The name comes from the first and middle names of the owner, Emily Claire.

<br>
<br>

10% of profits from e.claire go to The A.C.E. Association, a program that seeks to prevent sexual assault through education and empowerment.  You can read more about the program below.
<br>

<br>


The A.C.E. Association is an educational program that teaches high school students about consent, with the hope of preventing assault through knowledge.  Empowerment always begins with education. Our current sex ed programs are inadequate and are causing unnecessary hazards among children and young adults. Affirmative Consent means teaching children "yes means yes" instead of the more traditional "no means no," avoiding ambiguity to ensure mutual consent.  This helps children understand the power they have over their bodies, and the respect they need to give others.

</p>
</div>
</div>