<h1>Thank you for shopping with us!</h1>

<h2><%=  Your Order Confirmation number is @order_id.  You will be receiving an email shortly. %></h2>



<p>Come back and check out our ever changing inventory!</p>